{% extends 'base.html' %} {% block content %}

{% for number in list_of_numbers %}
<p>
    {{ number }}
</p>
{% endfor %}




<h1>{{page_title}} </h1>
<p>
    Past roles have provided exposure to various reporting tools,
    database programming,data management and data analysis.
    Experienced professional who has worked mainly in the 
    Telecommunication and Pharmaceutical Industries. Possessing 
    excellent communication, creative, problem solving and analytic
    skills with an ability to interact with team members and stakeholders
    across all levels and departments from both a technical and business background.

Educational qualifications to date include a Postgraduate Diploma in Data Analytics, BSc in Multimedia Computing, Graduate Diploma in Multimedia Authoring & Web Development and a Diploma in Marketing.


</p>
{% endblock %}